:root {	
  /* Name: Light Carmine Pink
  Hex: #F2626B
  RGB: (242, 98, 107)
  CMYK: 0, 0.595, 0.557, 0.050 */
  --light-carmine-pink: #F2626B;

  /* PASTEL ORANGE	
  Name: Pastel Orange
  Hex: #FEBA4F
  RGB: (254, 186, 79)
  CMYK: 0, 0.267, 0.688, 0.003 */
  --pastel-orange: #FEBA4F;

  /* CRAYOLA'S YELLOW	
  Name: Crayola's Yellow
  Hex: #FFEA7F
  RGB: (255, 234, 127)
  CMYK: 0, 0.082, 0.501, 0 */
  --crayolas-yellow: #FFEA7F;
  

  /* PASTEL GREEN	
  Name: Pastel Green
  Hex: #89E077
  RGB: (137, 224, 119)
  CMYK: 0.388, 0, 0.468, 0.121 */
  --pastel-green: #89E077;

  /* LIGHT SKY BLUE	
  Name: Light Sky Blue
  Hex: #83C3FF
  RGB: (131, 195, 255)
  CMYK: 0.486, 0.235, 0, 0 */
  --light-sky-blue: #83C3FF;

  /* PALE VIOLET	
  Name: Pale Violet
  Hex: #C381FD
  RGB: (195, 129, 253)
  CMYK: 0.229, 0.490, 0, 0.007 */
  --pale-violet: #C381FD;

  --pico-primary: hsl(195deg, 85%, 41%);

  /* CHART COLORS */
  --chart-1: var(--light-carmine-pink);
  --chart-2: var(--pastel-orange);
  --chart-3: var(--crayolas-yellow);
  --chart-4: var(--pastel-green);
  --chart-5: var(--light-sky-blue);
  --chart-6: var(--pale-violet);
  --chart-7: var(--pico-primary);
  --chart-8:rgba(90, 165, 255, .75);
  --chart-9:rgba(170, 90, 240, .75);
  --chart-10: rgba(180, 180, 180, .75);
  /* rgba(110, 110, 110, .75),
  rgba(170, 150, 110, .75),
  rgba(130, 50, 20, .75); */

  --gold: #FFD700;
  --silver: #C0C0C0;
  --bronze: #CD7F32;
}

html, body {
  margin: 0;
}

#app-root {
  padding: 1rem 2rem;
}

#app-root > span {
  display: flex;
  align-items: center;
  gap: 10px;
}

#app-root > span > a > h1 {
  margin-bottom: 0.5rem;
}

#app-root > span > h3 {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

#app-root header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 20px;
  border: solid var(--light-sky-blue) 1px;
  border: solid var(--primary) 1px;
  padding: 1rem 2rem 1rem 1rem;
  max-width: fit-content;
}

#app-root header a h5 {
  display: flex; 
  align-items: center;
  margin: 0
}


.card {
  background: white;
  background: var(--card-background-color);
=
  max-width: 750px;
  border-radius: 0.26rem;
  border: solid 1px var(--card-border-color);
  padding: 1rem 2rem;
  box-shadow: var(--card-box-shadow);
}


#dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#dashboard .dropdowns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#dashboard .viz {
  border-radius: .2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -0.5rem;
  letter-spacing: -0.011rem;
  color: #34495e;
  background: #f8f9fa;
  width: 100%;
  min-height: 700px;
}


#dashboard .viz #dashboard-plot1 {
  height: 500px;
  max-height: 500px;
  width: 500px;
  position: relative;

  background: white;
  padding: 0.6rem 1rem;
  margin: 0.5rem;  
}

#dashboard .viz #dashboard-plot2 {
  width: 100%;
  height: 100%;
  height: 500px;
  flex: 1;
  min-width: 500px;
  overflow: hidden;
  position: relative;

  background: white;
  padding: 0.6rem 1rem;
  margin: 0.5rem;
}

#dashboard .viz #dashboard-plot3 {
  width: 100%;
  height: 100%;
  height: 500px;
  height: 600px;
  min-width: 500px;
  width: calc(100% + 1rem);
  margin-bottom: 2rem;
  position: relative;

  background: white;
  padding: 0.6rem 1rem;
  margin: 0.5rem;
}

.bold {
  font-weight: bold;
}